API_PORT=8000
DB_PORT=6969

MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=meteo_db
MYSQL_USER=meteo_user
MYSQL_PASSWORD=meteo_password
MYSQL_HOST=db

OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1
NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org/search